@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

:root{
  --blue-primary: #01B1FF;
  --orange-primary: #FF8900;
  --grey-primary: rgb(58, 58, 58);
  --grey-dark: rgb(31, 31, 31);
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--grey-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
